:root {
  --bg: #212121;
  --bg-light: #303030;
  --fg: #eceff1;
  --acc1: #f07178;
  --acc2: #c792ea;
}

body.material {
  /* Empty is the default */
}

body.gruvbox-dark {
  --bg: #1d2021;
  --bg-light: #3c3836;
  --fg: #bdae93;
  --acc1: #d65d0e;
  --acc2: #fb4934;
}

body.gruvbox-light {
  --bg: #ebdbb2;
  --bg-light: #f9f5d7;
  --fg: #504945;
  --acc1: #9d0006;
  --acc2: #af3a02;
}

body.nord {
  --bg: #2e3440;
  --bg-light: #3b4252;
  --fg: #eceff4;
  --acc1: #5e81ac;
  --acc2: #8fbcbb;
}

body.dracula {
  --bg: #282936;
  --bg-light: #3a3c45;
  --fg: #e9e9f4;
  --acc1: #ea51b2;
  --acc2: #62d6e8;
}

body.vice {
  --bg: #1f2023;
  --bg-light: #23262c;
  --fg: #8b9cbe;
  --acc1: #ff9cff;
  --acc2: #00eaff;
}

body.decaf {
  --bg: #2d2d2d;
  --bg-light: #393939;
  --fg: #cccccc;
  --acc1: #ff7f7b;
  --acc2: #efb3f7;
}

body.pastel {
  --bg: #282828;
  --bg-light: #393939;
  --fg: #cdc1c1;
  --acc1: #db7464;
  --acc2: #a073d6;
}

body.solarized {
  --bg: #002B36;
  --bg-light: #1E3C43;
  --fg: #93A1A1;
  --acc1: #DC322F;
  --acc2: #859900;
}

body.tomorrow {
  --bg: #1D1F21;
  --bg-light: #2D3033;
  --fg: #C5C8C6;
  --acc1: #B5BD68;
  --acc2: #81A2BE;
}

body.forest {
  --bg: #1C1E1F;
  --bg-light: #2C2F30;
  --fg: #C5C8C6;
  --acc1: #B5BD68;
  --acc2: #81A2BE;
}

body.ocean {
  --bg: #2B303B;
  --bg-light: #343D46;
  --fg: #C0C5CE;
  --acc1: #BF616A;
  --acc2: #5E81AC;
}

body.fire {
  --bg: #262626;
  --bg-light: #3A3A3A;
  --fg: #D0D0D0;
  --acc1: #F92672;
  --acc2: #FD971F;
}

body.earth {
  --bg: #1C1C1C;
  --bg-light: #2C2C2C;
  --fg: #D0D0D0;
  --acc1: #B8D68C;
  --acc2: #73D0FF;
}

body.sky { 
  --bg: #0243bb;
  --bg-light: #188ddb;
  --fg: #ffffff;
  --acc1: #ff7f7b;
  --acc2: #efb3f7;
}

body.space {
  --bg: #000000;
  --bg-light: #1a1a1a;
  --fg: #ffffff;
  --acc1: #6e00fd;
  --acc2: #c59205;
}

body.candy-ugly {
  --bg: #6d4305;
  --bg-light: #ad8851;
  --fg: #ffffff;
  --acc1: #d34dab;
  --acc2: #73a7e2;
}

body.rainbow {
  --bg: #630404;
  --bg-light: #962f2f;
  --fg: #2ab300;
  --acc1: #c83beb;
  --acc2: #b4b100;
}